body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.madeinnewyork {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('../images/the-flatiron-building.png');
}
header {
  background-image: url('../images/the-flatiron-building.png');
}
footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
a {
  font-size: 18px;
  color: white;
}
address {
  font-style: normal;
}
